#header-text {
    font-size: 28px;
    line-height: 2.5rem;
    font-weight: bold;
}

#directions-text {
    font-size: 24px;
    line-height: 2.5rem;
}

#wins-text,
#losses-text,
#guessesLeft-text,
#guessesFar-text {
    font-size: 18px;
    line-height: 2.5rem;
}